@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 100;
  src: url('https://fonts.gstatic.com/s/saira/v16/MIHMkUoH6-h06Sc8QA.woff2') format('woff2');
}



:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  transition-property: opacity, backgroud, transform, filter;
  transition-timing-fuction: ease-in-out;
  transition-duration: 700ms;
  font-family: "Saira", sans-serif;
    
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.loader {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #000;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  animation: spin 1s linear infinite;
  margin: 0 auto; /* Centrer le loader */
}



@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Styles globaux, y compris les transitions pour petits écrans */
.flex-1 {
  transition: transform 0.5s ease-in-out;
}

@media (max-width: 650px) {
  .pcecran {
    display: none; /* Masque le bloc pcecran sur les petits écrans */
  }
  .petitecran {
    display: block; /* Affiche le bloc petitecran sur les petits écrans */
  }
}

@media (min-width: 651px) {
  .pcecran {
    display: block; /* Affiche le bloc pcecran sur les grands écrans */
  }
  .petitecran {
    display: none; /* Masque le bloc petitecran sur les grands écrans */
  }
}


.page-transition{
  opacity: 0;
  background: #F7941D;
  transform: translateY(40px);
  filter: blur(12px);
}